<div class="banner-user" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/33085/knowledge-book-library-glasses.jpg) repeat top center fixed; background-size:100%;">
  <div class="banner-user-content">
    <p>Show de <%= current_user.first_name %></p>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <div class="row" id="show-user">

      <div class="col-sm-8">
        <h2>Your mettings as a teacher</h2>

        <% if current_user.lessons.empty? %>
          <div class="">
            <p>No meetings yet ! Be patient ...</p>
          </div>
        <% end %>

        <% current_user.lessons.each do |lesson| %>
          <% meeting_count = 0 %>
          <% lesson.meetings.each do |meeting| %>
            <% unless meeting.status == 'refused' %>
              <% meeting_count += 1 %>
              <div class="product <%= 'product-red' if meeting.status == 'pending' %>">
                <%= image_tag meeting.user.avatar_url, alt: "avatar", class: "avatar" %>
                <div class="product-body">
                    <h3><%= lesson.name %>  | <%= meeting.view_dates %></h3>
                    <p> <%= lesson.description[0..120] + " ..." %></p>
                </div>
                <ul class="list-inline product-controls hidden-sm hidden-xs">
                  <%= link_to meeting_path(meeting), method: 'delete', class: 'product-delete-link' do %>
                    <li><i class="fa fa-trash"></i></li>
                  <% end %>
                </ul>
                <%= link_to "", lesson_path(lesson), class: 'product-link' %>
              </div>

              <% if meeting.status == 'pending' %>
                <div class="product-validation text-center">
                  <%= link_to meeting_path(meeting, status: 'accepted'), method: 'patch', class: 'product-validation-body validate' do %>
                    <div class="validate"><h4><i class="fa fa-check" aria-hidden="true"></i></h4></div>
                  <% end %>
                  <%= link_to meeting_path(meeting, status: 'refused'), method: 'patch', class: 'product-validation-body decline' do %>
                    <div class="decline"><h4><i class="fa fa-times" aria-hidden="true"></i></h4></div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>


      <div class="col-sm-4">
        <h2>Your lessons</h2>
        <% if current_user.lessons.empty? %>
          <div class="text-center">
            <%= link_to t(".top_call_to_action", default: "Let's become a teacher?"), new_lesson_path, class: "navbar-wagon-item navbar-wagon-button" %>
          </div>
        <% else %>
          <% current_user.lessons.each do |lesson| %>
            <div class="product">
              <div class="product-body">
                <h3><%= lesson.name %></h3>
                <p> <%= lesson.description[0..50] + " ..." %></p>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                <%= link_to lesson_path(lesson), method: 'delete', class: 'product-delete-link' do %>
                  <li><i class="fa fa-trash"></i></li>
                <% end %>
              </ul>
              <%= link_to "", lesson_path(lesson), class: 'product-link' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row" id="show-user-2">
      <div class="col-sm-12">
        <h2>Your meetings as a student</h2>

        <% if current_user.meetings.empty? %>
          <div class="">
            <p>No meetings yet ! Be patient ...</p>
          </div>
        <% end %>

        <% current_user.meetings.each do |meeting| %>
          <div class="product <%= 'product-red' unless meeting.status == 'accepted' %>">
            <%= image_tag meeting.lesson.user.avatar_url, alt: "avatar", class: "avatar" %>
              <div class='product-body'>
                <% if meeting.status == 'refused' %>
                  <h3 class="product-alert">Refused</h3>
                <% elsif meeting.status == 'pending' %>
                  <h3 class="product-alert">Waiting for approval</h3>
                <% end %>
                <h3><%= meeting.lesson.name %> | <%= meeting.view_dates %></h3>
                <p><%= meeting.lesson.description %></p>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                <%= link_to meeting_path(meeting), method: 'delete', class: 'product-delete-link' do %>
                  <li><i class="fa fa-trash"></i></li>
                <% end %>
              </ul>
              <%= link_to "", lesson_path(meeting.lesson), class: 'product-link' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
