
    <div class="banner-user" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/33085/knowledge-book-library-glasses.jpg) repeat top center fixed; background-size:100%;">
      <div class="banner-user-content">
        <p>Show de <%= current_user.first_name %></p>
      </div>
    </div>

    <div class="wrapper-grey padded">
      <div class="container">
        <div class="row" id="show-user">
          <div class="col-sm-8">
            <h2>Your sessions as a teacher</h2>
            <% if current_user.lessons.empty? %>
              <%= 'no lessons' %>
            <% else %>
              <% current_user.lessons.each do |lesson| %>
                <div class="product">
                  <div class="product-body">
                    <%= link_to lesson_path(lesson) do %>
                      <h3><%= lesson.name %></h3>
                    <% end %>
                    <p> <%= lesson.description[0..120] + " ..." %></p>
                  </div>
                  <ul class="list-inline product-controls hidden-sm hidden-xs">
                      <%= link_to lesson_path(lesson), method: 'delete' do %>
                        <li><i class="fa fa-trash"></i></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
             <h2>Your meetings</h2>
             <% current_user.lessons.each do |lesson| %>
              <% lesson.meetings.each do |meeting|  %>
                 <% meeting.dates_array.each do |date| %>
                   <div>
                     <h3><%= date %></h3>
                     <h4>Lesson : <%= meeting.lesson.name %></h4>
                   </div>
                 <% end %>
               <% end %>
              <% end %>
          <!--  <% current_user.meetings.each do |meeting| %>
              <% meeting.dates_array.each do |date| %>
                <div>
                  <h3><%= date %></h3>
                  <h4>Lesson : <%= meeting.lesson.name %></h4>
                </div>
              <% end %>
            <% end %> -->
          </div>
        </div>
         <div class="row" id="show-user-2">
          <div class="col-sm-12">
            <h2>Your sessions as a student</h2>
            <% current_user.meetings.each do |meeting| %>
                <div class="product">
                  <%= image_tag meeting.lesson.user.avatar_url, alt: "avatar", class: "avatar" %>
                  <div class='product-body'>
                    <h3><%= meeting.lesson.name %> | <%= meeting.view_dates %></h3>
                    <p><%= meeting.lesson.description %></p>
                  </div>
                  <ul class="list-inline product-controls hidden-sm hidden-xs">
                    <%= link_to meeting_path(meeting), method: 'delete' do %>
                      <li><i class="fa fa-trash"></i></li>
                  <% end %>
                  </ul>
                </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
