<% content_for(:title_tag) do %>
  <%= "Welcome to your dashboard !" %>
<% end %>

<div class="banner-user" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/33085/knowledge-book-library-glasses.jpg) repeat top center fixed; background-size:100%;">
  <div class="banner-user-content">
    <p><%= current_user.first_name %>'s dashboard</p>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <div class="row" id="show-user">
      <div class="col-sm-8">

        <!-- Teacher view - List the meetings on the teacher's lessons -->
        <h2>Your meetings as a teacher</h2>
        <% if current_user.lessons.empty? %>
          <div><p>No meetings yet ! Be patient ...</p></div>
        <% else %>
          <% current_user.lessons.each do |lesson| %>
            <% lesson.meetings.each do |meeting| %>
              <% unless meeting.status == 'refused' %>
                <%= render 'product', product_type: 'meeting', meeting: meeting, lesson: lesson, user_type: 'teacher' %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        </div>

      <div class="col-sm-4">

        <!-- Teacher view - List the lessons of the teacher -->
        <h2>Your lessons</h2>
        <% if current_user.lessons.empty? %>
          </br>
          <div class="text-center">
            <%= link_to t(".top_call_to_action", default: "Let's become a teacher?"), new_lesson_path, class: "navbar-wagon-item navbar-wagon-button" %>
          </div>
        <% else %>
          <% current_user.lessons.each do |lesson| %>
            <%= render 'product', product_type: 'lesson', lesson: lesson, user_type: 'student' %>
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="row" id="show-user-2">
      <div class="col-sm-12">

        <!-- Student view - List the meetings booked on others teacher's lessons -->
        <h2>Your meetings as a student</h2>
        <% if current_user.meetings.empty? %>
          <div class="">
            <p>No meetings yet ! Be patient ...</p>
          </div>
        <% else %>
          <% current_user.meetings.each do |meeting| %>
            <%= render 'product', product_type: 'meeting', meeting: meeting, lesson: meeting.lesson, user_type: 'student' %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
