
    <div class="banner-user" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/33085/knowledge-book-library-glasses.jpg) repeat top center fixed; background-size:100%;">
      <div class="banner-user-content">
        <p>Show de <%= current_user.first_name %></p>
      </div>
    </div>

    <div class="wrapper-grey padded">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Your sessions as a teacher</h2>
            <% if current_user.lessons.empty? %>
              <%= 'no lessons' %>
            <% else %>
              <ul>
              <% current_user.lessons.each do |lesson| %>
                <li><%= lesson.name %></li>
              <% end %>
              </ul>
            <% end %>
          </div>
        </div>
         <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Your sessions as a student</h2>
            <% current_user.meetings.each do |meeting| %>
              <div class="product">
                <%= image_tag meeting.lesson.user.avatar_url, alt: "avatar", class: "avatar" %>
                <div class='product-body'>
                  <h3><%= meeting.lesson.name %></h3>
                  <p><%= meeting.lesson.description %></p>
                </div>
                <ul class="list-inline product-controls hidden-sm hidden-xs">
                  <li><a href=""><i class="fa fa-trash"></i></a></li>
                </ul>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
