<div class="category-list" id="lessons_list">
  <div class="description-title">
    <h5>Hundreds of available courses, organized by categories</h5>
  </div>
  <ul class="list-category list-unstyled list-inline">
    <li class="card-category cat-4"><%= link_to 'all', lessons_path + '#lessons_list' %></li>
    <li class="card-category cat-1"><%= link_to 'music', lessons_path + '/category/Music#lessons_list' %></li>
    <li class="card-category cat-2"><%= link_to 'language', lessons_path + '/category/Language#lessons_list' %></li>
    <li class="card-category cat-3"><%= link_to 'science', lessons_path + '/category/Science#lessons_list' %></li>
    <li class="card-category cat-4"><%= link_to 'culture', lessons_path + '/category/Culture#lessons_list' %></li>
    <li class="card-category cat-5"><%= link_to 'entrepreneurship', lessons_path + '/category/Entrepreneurship#lessons_list' %></li>
    <li class="card-category cat-6"><%= link_to 'sport', lessons_path + '/category/Sport#lessons_list' %></li>
    <li class="card-category cat-7"><%= link_to 'finance', lessons_path + '/category/Finance#lessons_list' %></li>
  </ul>
</div>
