<%= simple_form_for @lesson do |f| %>
  <%= f.input :name, label: "Title", placeholder: "a few imagination" %>
  <%= f.input :description, as: :text, placeholder: "be clear and concise"%>
    <div class='category'>
      <h5 class="title_form"><strong>Category</strong> </h5>
      <ul class="list-inline">
        <li id="music"><%= image_tag 'logos_for_form/music-cat.png', class:'description-image-small' %></li>
        <li id="science"><%= image_tag 'logos_for_form/science-cat.png', class:'description-image-small' %></li>
        <li id="culture"><%= image_tag 'logos_for_form/culture-cat.png', class:'description-image-small' %></li>
        <li id="finance"><%= image_tag 'logos_for_form/finance-cat.png', class:'description-image-small' %></li>
        <li id="language"><%= image_tag 'logos_for_form/language-cat.png', class:'description-image-small' %></li>
        <li id="sport"><%= image_tag 'logos_for_form/sport-cat.png', class:'description-image-small' %></li>
        <li id="entrepreneurship"><%= image_tag 'logos_for_form/entrepreneurship-cat.png', class:'description-image-small' %></li>
      </ul>
    </div>
  <%= f.input :category, collection: Lesson::CATEGORIES, placeholder: "wow a choice", as: :hidden%>
  <%= f.input :duration, collection: Lesson::DURATIONS, label: "Duration (in hours)", placeholder: "longer is better"%>
  <%= f.input :level, collection: Lesson::LEVELS, placeholder: "do it accessible"%>

      <div class='datepicker'>
        <!-- The datepicker will be drawn in this div -->
        <div id="datepicker_id"></div>
      </div>

  <%= f.input :dates, as: :hidden %>
  <%= f.input :address, placeholder: "where will be the meeting..." %>
  <%= f.button :submit %>
<% end %>
