
    <div class="banner" style="/*background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.jpg' %>);*/">
        <video controls="controls" autoplay="autoplay" loop="loop"
  width="233" height="147" poster="//www.cdn.com//video.png"
  preload="auto" title="Video">
            <source src="//www.cdn.com/video.mp4" type="video/mp4"/>
            <source src="//www.cdn.com/video.ogv" type="video/ogv"/>
            <source src="//www.cdn.com/video.webm" type="video/webm"/>
        </video>
      <div class="banner-content">
        <h1 class="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo-large.png" %>
          <% end %>
          <p>Learn what ever, whenever... that's it !</p>
        </h1>
      </div>
    </div>

    <div class="wrapper-grey padded">
      <div class="container">
        <div class="row">
          <div class="description">
            <div class="col-xs-8 col-sm-4">

              <h3 class='description-title'>Skills</h3>
              <%= image_tag 'skills.png', class:'description-image' %>
              <p>Develop sought-after skills for the current job market</p>
            </div>
            <div class="col-xs-8 col-sm-4">
              <h3 class='description-title'>Coaching</h3>
              <%= image_tag 'growth.png', class:'description-image' %>
              <p>A coach to motivate you to achieve your goal</p>
            </div>
            <div class="col-xs-8 col-sm-4">
              <h3 class='description-title'>Rewards</h3>
              <%= image_tag 'award.png', class:'description-image' %>
              <p>Our certificates and degrees are officially recognized internationally</p>
            </div>
          </div>
          <div class="category-list" id="lessons_list">
            <div class="description-title">
            <h5>Hundreds of available courses, organized by categories</h5>
            </div>
              <ul class="list-category list-unstyled list-inline">
                <li class="card-category cat-4"><%= link_to 'all', lessons_path + '#lessons_list' %></li>
                <li class="card-category cat-1"><%= link_to 'music', lessons_path + '/category/Music#lessons_list' %></li>
                <li class="card-category cat-2"><%= link_to 'language', lessons_path + '/category/Language#lessons_list' %></li>
                <li class="card-category cat-3"><%= link_to 'science', lessons_path + '/category/Science#lessons_list' %></li>
                <li class="card-category cat-4"><%= link_to 'culture', lessons_path + '/category/Culture#lessons_list' %></li>
                <li class="card-category cat-5"><%= link_to 'entrepreneurship', lessons_path + '/category/Entrepreneurship#lessons_list' %></li>
                <li class="card-category cat-6"><%= link_to 'sport', lessons_path + '/category/Sport#lessons_list' %></li>
                <li class="card-category cat-7"><%= link_to 'finance', lessons_path + '/category/Finance#lessons_list' %></li>
              </ul>
          </div>
        </div>

        <%= render 'cards' %>


      </div>
    </div>


    <div class="container">
        <div class="row marged">
          <div class="col-md-6 align-right">
            <%= image_tag 'good.png', class:'description-image' %>
          </div>
          <div class="col-md-6">
            <h3 class="description-title align-left no-marged">Our latest reviews</h3>
          </div>
        </div>
        <div class="row">
          <ul >
            <div class="col-xs-12 col-sm-6">
              <li class="review-category list-unstyled list-category">
                <%= image_tag 'stars.png' %>
                <h5>Top experience !</h5>
                <h6>Science - Course Biology advance</h6>
                <p>I add an amazing experience thanks to Learn Up, my romanian teacher was gentle and very helpfull</p>
              </li>
            </div>
            <div class="col-xs-12 col-sm-6">
              <li class="review-category list-unstyled list-category">
                <%= image_tag 'stars2.png' %>
                <h5>Thanks Mr Cocktail</h5>
                <h6>Entrepreneurship - Course drink with passion</h6>
                <p>After this 2hours course, I totally understand how to drink a cocktail</p></li>
            </div>
            <div class="col-xs-12 col-sm-6">
              <li class="review-category list-unstyled list-category">
                <%= image_tag 'stars2.png' %>
                <h5>Cool teacher!</h5>
                <h6>Language - Course Louchbeam advanced</h6>
                <p>Super, I recomment for my colleagues</p>
              </li>
            </div>
            <div class="col-xs-12 col-sm-6">
              <li class="review-category list-unstyled list-category">
                <%= image_tag 'stars.png' %>
                <h5>Bravo le veau</h5>
                <h6>Music - Course Make music in Auvergne</h6>
                <p>Good teacher and good environment, Learn Up was super</p></li>
            </div>

          </ul>
        </div>
    </div>

    <div class="container padded">
      <h3 class="description-title"><%= image_tag 'map.png', class:'description-image' %>Our local presence</h3>
      <div id="map" style="width: 100%; height: 300px;"></div>

    </div>
  </body>
</html>

  <!-- TEMPLATES -->
  <script type="text/html" id="lesson-template">
    <div class="lesson">
      <div class="col-sm-3 lesson-card">
          <a class="card" href="lessons/{{{objectID}}}">
          <span class="card-category cat-{{{category_number}}}">{{{_highlightResult.category.value}}}</span>
          <h2 class="card-name">{{{_highlightResult.name.value}}}</h2>
          <span class="lesson-informationLabel">
            <i class="lesson-informationIcon  icon-calendar3"></i>
            6 mois | Paris
          </span>
          <p class="card-description">{{{_highlightResult.description_crop.value}}}</p>
          <p class="show-lesson show-lesson-cat-{{{category_number}}}">Show lesson</p>
        </a>
      </div>
    </div>
  </script>

  <script type="text/html" id="no-results-lesson-template">
    <div id="no-results-message">
      <p>We didn't find any profiles for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  </script>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(16);
          }
        });
      });
    <% end %>
  <% end %>
