<% content_for(:title_tag) do %>
  <%= "Learn'n up | Thousand of lessons available" %>
<% end %>

<section class="banner">
  <video autoplay="autoplay" loop="loop" class="video" poster="<%= image_path 'poster-home-video.jpg' %>">
    <source type="video/mp4" src="<%= video_path 'video-1.mp4' %>">
  </video>
  <div class="banner-content">
    <h1 class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo-large.png" %>
      <% end %>
      <p>Learn what ever, whenever... that's it !</p>
    </h1>
  </div>
</section>

<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="description">
        <div class="col-xs-8 col-sm-4">
          <h3 class='description-title'>Skills</h3>
          <%= image_tag 'skills.png', class:'description-image' %>
          <p>Develop sought-after skills for the current job market</p>
        </div>
        <div class="col-xs-8 col-sm-4">
          <h3 class='description-title'>Coaching</h3>
          <%= image_tag 'growth.png', class:'description-image' %>
          <p>A coach to motivate you to achieve your goal</p>
        </div>
        <div class="col-xs-8 col-sm-4">
          <h3 class='description-title'>Rewards</h3>
          <%= image_tag 'award.png', class:'description-image' %>
          <p>Our certificates and degrees are officially recognized internationally</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wrapper-grey">
  <div class="container">
    <div class="row">

    <%= render 'categories' %>

    </div>

    <%= render 'cards' %>

  </div>
</section>

<section class="wrapper-white">
  <div class="container padded">
    <h3 class="description-title"><%= image_tag 'good.png', class:'description-image' %>Our latest reviews</h3>
    <div class="row">

    <% @reviews.each do |review| %>
      <%= render 'review', review: review, lesson: review.lesson.name %>
    <% end %>

    </div>
  </div>
</section>

<section class="wrapper-white" >
  <div class="container padded">
    <h3 class="description-title"><%= image_tag 'map.png', class:'description-image' %>Our local presence</h3>
  </div>
  <div id="map" style="width: 100%; height: 450px;"></div>
</section>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false, zoomControl: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(16);
        }
      });
    });

    <% if Rails.env.production? %>

      $('document').ready(function(){
        var lessons = instantsearch({
          appId: 'LZEMPFONKV',
          apiKey: '427c69ac1af038f71cecc79b5be449e3',
          indexName: 'Lesson',
        });

        var lessonsHits = instantsearch.widgets.hits({
          container: document.querySelector('#lessons'),
          hitsPerPage: 100,
          templates: {
            item: getTemplate('lesson'),
            empty: getTemplate('no-results-lesson'),
          }
        });

        var searchBox = instantsearch.widgets.searchBox({
          container: document.querySelector('#search-input'),
          placeholder: 'Search for your lesson',
        });

        lessons.addWidget(lessonsHits);
        lessons.addWidget(searchBox);
        lessons.start();

        function getTemplate(templateName) {
          return document.querySelector("#" + templateName + "-template").innerHTML;
        };
      });
    <% end %>
  <% end %>
<% end %>
