
    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.jpg' %>);">
      <div class="banner-content">
        <h1 class="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo-large.png" %>
          <% end %>
          <p>Learn what ever, whenever... that's it !</p>
        </h1>
      </div>
    </div>

    <div class="wrapper-grey padded">
      <div class="container">
        <div class="row">
          <div class="description">
            <h1>Start shaping your own life!</h1>
            <div class="col-xs-8 col-sm-4">
              <h3 class='description-title'>Skills</h3>
              <%= image_tag 'skills.png', class:'description-image' %>
              <p>Develop sought-after skills for the current job market</p>
            </div>
            <div class="col-xs-8 col-sm-4">
              <h3 class='description-title'>Coaching</h3>
              <%= image_tag 'growth.png', class:'description-image' %>
              <p>A coach to motivate you to achieve your goal</p>
            </div>
            <div class="col-xs-8 col-sm-4">
              <h3 class='description-title'>Internationally recognized paths</h3>
              <%= image_tag 'award.png', class:'description-image' %>
              <p>Our certificates and degrees are officially recognized</p>
            </div>
          </div>
          <div class="category-list">
            <ul class="list-category list-unstyled list-inline">
              <li class="card-category cat-1"><a href="#">music</a></li>
              <li class="card-category cat-2"><a href="#">language</a></li>
              <li class="card-category cat-3"><a href="#">science</a></li>
              <li class="card-category cat-4"><a href="#">culture</a></li>
              <li class="card-category cat-5"><a href="#">entrepreneurship</a></li>
              <li class="card-category cat-6"><a href="#">sport</a></li>
              <li class="card-category cat-7"><a href="#">finance</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
            <% @lessons.each do |lesson| %>
              <div class="col-sm-3 lesson-card">
                <a class="card" href="<%= lesson_path(lesson) %>">
                  <span class="card-category cat-<%= lesson.category_number %>"><%= lesson.category %></span>
                  <h2 class="card-name"><%= lesson.name %></h2>
                  <span class="lesson-informationLabel">
                    <i class="lesson-informationIcon  icon-calendar3"></i>
                    6 mois | Paris
                  </span>
                  <p class="card-description"><%= lesson.description %></p>
                  <p class="show-lesson show-lesson-cat-<%= lesson.category_number %> ">Show lesson</p><!--
                  <img class="card-user avatar avatar-large" src="https://unsplash.it/100/100"> -->
                </a>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>

  </body>
</html>
