<% content_for(:title_tag) do %>
  <%= "Become a teacher in one click !" %>
<% end %>

<div class="grey-background-page">
    <div class="row text-center banner-create banner">
      <div class="col-xs-12 title_create">
        <h5>ready to teach ?</h5>
        <h2 class="title_create_2">Create your lesson</h2>
        <h5>and share your knowledge with our students !</h5>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 form_background padding title_form">
        <%= render 'form_add_lesson' %>
        <%= link_to "Back to the lessons", lessons_path %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Datepicker creation and link with simple_form
    $('document').ready(function(){
      $(".datepicker div").datepicker({
        format: "mm/dd/yyyy",
        clearBtn: true,
        multidate: true,
        todayHighlight: true,
        startDate: "<%= DateTime.now.strftime('%m/%d/%Y') %>",
      }).on("changeDate", function(e){
          var dates = $(".datepicker div").data('datepicker').getFormattedDate('mm/dd/yyyy');
          console.log(dates);
          $('#lesson_dates').val(dates)
      });
      // Logos to click on categories
      <% Lesson::CATEGORIES.each do |category| %>
        $('#<%= category.downcase %>').on('click', function(event) {
          $('#lesson_category').val('<%= category %>');
          $('.list-inline li').removeClass('description-image-small-selected')
          $('#<%= category.downcase %>').addClass('description-image-small-selected')
        });
      <% end %>
    });
  </script>
<% end %>
