
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(<%= @lesson.img_url %>); height: 50vh; background-position: center;">
</div>
<section class="lesson">
  <div class="header-lesson">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
          <div class="header-lesson-details">
            <span class="card-category"><%= @lesson.category %></span>
            <div class="header-lesson-teacher  text-center">
              <!--<img class="img-circle" width="80" src="../images/romain.jpeg" />
              <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name %></p>
            --></div>
            <div class="header-lesson-name">
              <h1><%= @lesson.name %></h1>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #666666"></i>
              <i class="fa fa-star" style="color: #666666"></i>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4" style="z-index: 1;">
          <div class="book-form">
            <div class='datepicker' >
              <div id="datepicker_id"></div>
            </div>
            <form action="<%= lesson_meetings_path(@lesson) %>" method="post" >
              <%= simple_form_for @meeting, url: lesson_meetings_path(@lesson) do |f| %>
                <%= f.input :dates, :as => :hidden %>
                <%= f.submit "Book lesson", class: "btn btn-danger", style: "width: 100%" %>
              <% end %>
            </form>
          </div>
        </div>


      </div>

    </div>
  </div>

  <div id="lesson-description">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>About this lesson</h2>
          <div class="lesson-description">
            <%= @lesson.description %>
          </div>

          <hr>
          <div class="row" id="lesson-data">
            <div class="col-xs-12 col-sm-3">
              Lesson details
            </div>
            <div class="col-xs-12 col-sm-7">
              <ul class="list-unstyled">
                <li>Duration:  <strong>10 hours (à faire en P2)</strong></li>
                <li>Category:  <strong><%= @lesson.category %></strong></li>
                <li>Location:  <strong>Address (à faire en P2)</strong></li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="row" id="flat-data">
            <div class="col-xs-12 col-sm-3">
              Material needed (à faire en P2)
            </div>
            <div class="col-xs-12 col-sm-7">
              <ul class="list-unstyled">
                <li><i class="fa fa-laptop"></i><strong>Computer</strong></li>
                <li><i class="fa fa-file-text"></i><strong>Document Editor</strong></li>
                <li><i class="fa fa-phone"></i><strong>Phone</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $('document').ready(function(){
      $('.datepicker div').datepicker({
        format: "mm/dd/yyyy",
        clearBtn: true,
        multidate: true,
        daysOfWeekDisabled: "0",
        todayHighlight: true,
        startDate: "<%= @lesson.params_for_datepicker[:start_date] %>",
        endDate: "<%= @lesson.params_for_datepicker[:end_date] %>",
        datesDisabled: <%= raw @lesson.params_for_datepicker[:dates_disabled].to_json %>
      });
      $('.table-condensed').on('mouseleave', function(event) {
        var dates = $('#datepicker_id').datepicker('getDates');
        var dates_format = []

        dates.forEach(function(date_string) {
          var date = new Date(date_string);
          var date_format = $.datepicker.formatDate('mm/dd/yy', date);
          dates_format.push("\"" + date_format + "\"")
        });
        console.log(dates_format)
        $('#meeting_dates').val('['+dates_format+']')
      });
    });
  <% end %>
<% end %>
