 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://unsplash.it/600/900'); height: 50vh; background-position: center;">
</div>
<div class="header-lesson">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-lesson-details">
          <div class="header-lesson-teacher  text-center">
            <img class="img-circle" width="80" src="../images/romain.jpeg" />
            <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name %></p>
          </div>
          <div class="header-lesson-name">
            <h1><%= @lesson.name %></h1>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <form action="<%= lesson_meetings_path(@lesson) %>" method="post" >
          <h4>Book this lesson</h3>
          <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="lesson-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this flat</h2>
        <p>
          <%= @lesson.description %>
        </p>

        <hr>
        <div class="row" id="lesson-data">
          <div class="col-xs-12 col-sm-3">
            Lesson details
          </div>
          <div class="col-xs-12 col-sm-7">
            <ul class="list-unstyled">
              <li>Duration:  <strong>10 hours (à faire en P2)</strong></li>
              <li>Category:  <strong><%= @lesson.category %></strong></li>
              <li>Location:  <strong>Address (à faire en P2)</strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-3">
            Material needed (à faire en P2)
          </div>
          <div class="col-xs-12 col-sm-7">
            <ul class="list-unstyled">
              <li><i class="fa fa-laptop"></i><strong>Computer</strong></li>
              <li><i class="fa fa-file-text"></i><strong>Document Editor</strong></li>
              <li><i class="fa fa-phone"></i><strong>Phone</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
