
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(<%= image_path @lesson.img_url %>); height: 50vh; background-position: center;">
</div>
<section class="lesson">
    <div class="container" id="show-lesson">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="header-lesson-teacher">
            <img class="img-circle" width="120" src=<%= @lesson.user.avatar_url %> />
            <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 border-right">
          <div class="header-lesson-details">
            <div class="header-lesson-name">
              <h1><%= @lesson.name %></h1>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #666666"></i>
              <i class="fa fa-star" style="color: #666666"></i>
            </div>
          </div>
          <div id="lesson-description">
            <h2>About this lesson</h2>
            <p  class="margin-bottom"><%= @lesson.description %></p>
            <div class="row">
              <div class="col-xs-6">
                <div class="lesson-data">
                  Lesson details
                </div>
                <ul class="list-unstyled">
                  <li>Duration:  <strong><%= @lesson.duration %> hours</strong></li>
                  <li>Category:  <strong><%= @lesson.category %></strong></li>
                  <li>Location:  <strong>Address (à faire en P2)</strong></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <div class="flat-data">
                  Material needed (à faire en P2)
                </div>
                <ul class="list-unstyled">
                  <li><i class="fa fa-laptop"></i><strong>Computer</strong></li>
                  <li><i class="fa fa-file-text"></i><strong>Document Editor</strong></li>
                  <li><i class="fa fa-phone"></i><strong>Phone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        <% if @lesson.params_for_datepicker[:alert] == 'ok' %>
        </div>
        <div class="col-xs-6">
          <div class="book-form">
            <div class='datepicker' >
              <div id="datepicker_id"></div>
            </div>
            <form action="<%= lesson_meetings_path(@lesson) %>" method="post" >
              <%= simple_form_for @meeting, url: lesson_meetings_path(@lesson) do |f| %>
                <%= f.input :dates, :as => :hidden %>
                <%= f.submit "Book lesson", class: "btn btn-blue" %>
              <% end %>
            </form>
          </div>
        </div>

        <% else %>
          <div class="book-form">
            <h2>No availabilities</h2>
          </div>
        </div>
      <% end %>
    </div>
</section>


<section id="review">
  <div class="container">
    <div class="row">

      <% if current_user.has_done_lesson(@lesson) %>
        <div class="col-xs-6">
          <div class="add-review card-review">
            <a class="btn-add">
              <%= image_tag("add.png", size: "40x40", alt: "Add btn") %>
            </a>
          </div>
        </div>
      <% end %>

    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <div class="col-xs-6">
          <div class="card-review">
            <%= review.rating %>
            <h2 class="user-name"><%= review.user.first_name %> <%= review.user.last_name %> | <span class="date"><%= review.updated_at %></span></h2>
            <p class="content-review"><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</section>


    <style type="text/css">
      body { margin: 0; }
      #map {
        display: flex;
        height: 50vh;
        width: 100%;
      }
    </style>

<!-- The map will be drawn in this div -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="map" class="section-gray similar-lesson text-center"></div>
    </div>
  </div>
</div>

<section class="section-gray similar-lesson">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">You might be interested in</h2>
      </div>
      <% @lessons_category.each do |lesson| %>
        <div class="lesson">
          <div class="col-sm-3 lesson-card">
              <a class="card" href="<%= lesson_path(lesson) %>">
              <span class="card-category ">
                <%= lesson.category %>
              </span>
              <h2 class="card-name">
                  <%= lesson.name %>
              </h2>
              <span class="lesson-informationLabel">
                <i class="lesson-informationIcon  icon-calendar3"></i>
                6 mois | Paris
              </span>
              <p class="card-description">
                <%= lesson.description[0..120] + "..." %>
              </p>
              <p class="show-lesson show-lesson-cat-">Show lesson</p>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<%= render 'form' %>


</section>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('document').ready(function(){
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false, zoomControl: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(16);
        }
      });
      $(".datepicker div").datepicker({
          format: "mm/dd/yyyy",
          multidate: true,
          todayHighlight: true,
          calendarWeeks: true,
          startDate: "<%= @lesson.params_for_datepicker[:start_date] %>",
          endDate: "<%= @lesson.params_for_datepicker[:end_date] %>",
          datesDisabled: <%= raw @lesson.params_for_datepicker[:dates_disabled].to_json %>
      }).on("changeDate", function(e){
          var dates = $(".datepicker div").data('datepicker').getFormattedDate('mm/dd/yyyy');
          console.log(dates);
          $('#meeting_dates').val(dates)
      });
    });
  <% end %>
<% end %>
