
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(<%= @lesson.img_url %>); height: 50vh; background-position: center;">
</div>
<section class="lesson">
    <div class="container" id="show-lesson">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="header-lesson-teacher">
            <img class="img-circle" width="120" src=<%= @lesson.user.img_url %> />
            <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 border-right">
          <div class="header-lesson-details">
            <div class="header-lesson-name">
              <h1><%= @lesson.name %></h1>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #76E2F4"></i>
              <i class="fa fa-star" style="color: #666666"></i>
              <i class="fa fa-star" style="color: #666666"></i>
            </div>
          </div>
          <div id="lesson-description">
            <h2>About this lesson</h2>
            <p  class="margin-bottom"><%= @lesson.description %></p>
            <div class="row">
              <div class="col-xs-6">
                <div class="lesson-data">
                  Lesson details
                </div>
                <ul class="list-unstyled">
                  <li>Duration:  <strong><%= @lesson.duration %> hours</strong></li>
                  <li>Category:  <strong><%= @lesson.category %></strong></li>
                  <li>Location:  <strong>Address (à faire en P2)</strong></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <div class="flat-data">
                  Material needed (à faire en P2)
                </div>
                <ul class="list-unstyled">
                  <li><i class="fa fa-laptop"></i><strong>Computer</strong></li>
                  <li><i class="fa fa-file-text"></i><strong>Document Editor</strong></li>
                  <li><i class="fa fa-phone"></i><strong>Phone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        <% if @lesson.params_for_datepicker[:alert] == 'ok' %>
        </div>
        <div class="col-xs-6">
          <div class="book-form">
            <div class='datepicker' >
              <div id="datepicker_id"></div>
            </div>
            <form action="<%= lesson_meetings_path(@lesson) %>" method="post" >
              <%= simple_form_for @meeting, url: lesson_meetings_path(@lesson) do |f| %>
                <%= f.input :dates, :as => :hidden %>
                <%= f.submit "Book lesson", class: "btn btn-blue" %>
              <% end %>
            </form>
          </div>
        </div>

        <% else %>
          <div class="book-form">
            <h2>No availabilities</h2>
          </div>
        </div>
      <% end %>
    </div>
</section>
<section class="section-gray similar-lesson">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">You might be interest in</h2>
      </div>
      <% @lesson_category.each do |lesson| %>
        <div class="lesson">
          <div class="col-sm-3 lesson-card">
              <a class="card" href="lessons/">
              <span class="card-category ">
                <%= lesson.category %>
              </span>
              <h2 class="card-name">
                  <%= lesson.name %>
              </h2>
              <span class="lesson-informationLabel">
                <i class="lesson-informationIcon  icon-calendar3"></i>
                6 mois | Paris
              </span>
              <p class="card-description">
                <%= lesson.description[0..120] + "..." %>
              </p>
              <p class="show-lesson show-lesson-cat-">Show lesson</p>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('document').ready(function(){
      $('.datepicker div').datepicker({
        format: "mm/dd/yyyy",
        clearBtn: true,
        multidate: true,
        todayHighlight: true,
        startDate: "<%= @lesson.params_for_datepicker[:start_date] %>",
        endDate: "<%= @lesson.params_for_datepicker[:end_date] %>",
        datesDisabled: <%= raw @lesson.params_for_datepicker[:dates_disabled].to_json %>
      });
      $('.table-condensed').on('mouseleave', function(event) {
        var dates = $('#datepicker_id').datepicker('getDates');
        var dates_format = []

        dates.forEach(function(date_string) {
          var date = new Date(date_string);
          var date_format = $.datepicker.formatDate('mm/dd/yy', date);
          dates_format.push("\"" + date_format + "\"")
        });
        $('#meeting_dates').val('['+dates_format+']')
      });
    });
  <% end %>
<% end %>
