<% content_for(:title_tag) do %>
  <%= "Details on '#{@lesson.name}'" %>
<% end %>

<section class="section-show">
  <div class="banner cover" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(<%= image_path @lesson.img_url %>); height: 50vh; background-position: center;">
  </div>
</section>

<section class="lesson wrapper">
    <div class="container" id="show-lesson">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="header-lesson-teacher">
            <img class="img-circle" width="120" src=<%= @lesson.user.avatar_url %> />
            <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 border-right">
          <div class="header-lesson-details">
            <div class="header-lesson-name">
              <h1><%= @lesson.name %></h1>
            <% unless @average_rating == -1 %>
              <% @average_rating.times do %>
                <i class="fa fa-star" style="color: #76E2F4"></i>
              <% end %>
              <% ( 5 - @average_rating ).times do %>
                <i class="fa fa-star" style="color: #666666"></i>
              <% end %>
            <% else %>
              <p>No rating available yet...</p>
            <% end %>
            </div>
          </div>
          <div id="lesson-description">
            <h2>About this lesson</h2>
            <p  class="margin-bottom"><%= @lesson.description %></p>
            <div class="row">
              <div class="col-xs-6">
                <div class="lesson-data">
                  Lesson details
                </div>
                <ul class="list-unstyled">
                  <li>Duration:  <strong><%= @lesson.duration %> hours</strong></li>
                  <li>Category:  <strong><%= @lesson.category %></strong></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <div class="flat-data">
                  Material needed
                </div>
                <ul class="list-unstyled">
                  <li><i class="fa fa-laptop"></i><strong>Computer</strong></li>
                  <li><i class="fa fa-file-text"></i><strong>Document Editor</strong></li>
                  <li><i class="fa fa-phone"></i><strong>Phone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <% if @lesson.params_for_datepicker[:alert] == 'ok' %>
        <div class="col-xs-6">
          <div class="book-form">
            <div class='datepicker'>
              <!-- The datepicker will be drawn in this div -->
              <div id="datepicker_id"></div>
            </div>
            <div>
              <%= render 'form_add_meeting' %>
            </div>
          </div>
        </div>

        <% else %>
        <div class="col-xs-6">
          <div class="book-form">
            <h2>No availabilities</h2>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</section>

<section class="section-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="description_title">Location</h2>
        <!-- The map will be drawn in this div -->
        <div id="map" class="section-gray similar-lesson text-center"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
  <h2 class="description_title">Comments</h2>
    <div class="row">
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <%= render 'review', review: review, lesson: false %>
      <% end %>
    <% else %>
      <h4 class="no-comment">No comments yet</h4>
    <% end %>
    </div>
  </div>
  <div class="container">
  <h4 class="description_title">Add a comment</h4>
    <%= render 'form_add_review' %>
  </div>
</section>


<section class="similar-lesson section-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="description_title">Other courses</h2>
      </div>
      <% @lessons_category.each do |lesson| %>
        <%= render 'card', lesson: lesson %>
      <% end %>
    </div>
  </div>
</section>

<% content_for(:after_js) do %>
  <script>
    $('document').ready(function(){
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false, zoomControl: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(16);
        }
      });
      $(".datepicker div").datepicker({
          format: "mm/dd/yyyy",
          multidate: true,
          todayHighlight: true,
          calendarWeeks: true,
          startDate: "<%= @lesson.params_for_datepicker[:start_date] %>",
          endDate: "<%= @lesson.params_for_datepicker[:end_date] %>",
          datesDisabled: <%= raw @lesson.params_for_datepicker[:dates_disabled].to_json %>
      }).on("changeDate", function(e){
          var dates = $(".datepicker div").data('datepicker').getFormattedDate('mm/dd/yyyy');
          console.log(dates);
          $('#meeting_dates').val(dates)
      });
    });
  </script>
<% end %>
